<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <title>r-blog</title>
</head>
<body>
<div>
    <h1>r-blog</h1>
    <p>a blog system</p>
</div>
</body>
</html>